<!DOCTYPE html>
<html>
  <head>
    <title>CoronaVk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="doomsday_clock">
      <h3>Doomsday clock</h3>
      <div id="clock">
      </div>
    </div>
    <hr>
    <h1>Hello everyone!!! Thanks Sergey!!!!! Best regard!!!</h1>
    <hr>
    <%= yield %>
  </body>
</html>
